atlas-kubernetes-operator/atlas-cli/*
atlas-kubernetes-operator/atlas-cli.tar.gz
atlas-kubernetes-operator/clean-up.sh
atlas-kubernetes-operator/deploy-a-cluster.yaml
MEKO-opsmanager/deploy-om.yaml
MEKO-opsmanager/deploy-mdb.yaml
